.n-wrapper {
  height: 10vh;
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
  width: 100%;
  position: fixed;
  /* border:1px solid red; */
  /* overflow: hidden; */
  /* right: 5px; */
  left: 0;
  top: 0px;
  background-color: rgb(69, 69, 246);
  z-index: 9;
}

.n-left {
  flex: 1;
  align-items: center;
  justify-content: left;
  display: flex;
  gap: 2rem;
}

.n-name {
  font-size: 1.3rem;
  font-weight: bold;
}
.n-logo img{
   width: 3rem;
   height: 2.5rem;
   border-radius: 50%;
   margin-left: .7rem;
   cursor: pointer;
}
.n-right {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: right;
  font-weight: 400;
  margin-right: .7rem;
}

.n-list > ul {
  display: flex;
  gap: 2rem;
  margin-right: 4rem;
}

.n-list > ul :hover {
  color: var(--orange);
  cursor: pointer;
}

.n-button {
  flex: 2;
}

@media screen and (max-width: 480px) {
  .n-list {
    display: none;
  }
}
